:root{
--bodybac: #c9d6ff;
--bodbac1: #343434;
--bodbac2:  #992219;
--containerbac: #393434;
--contshadow: rgba(0, 0, 0, 0.35);
--cont-a: #333;
--contbtnbac:#ffeeee;
--conthi-in-social-h1-span-tog: #fff;
--contform: #393434;
--socailtex :#ff9;
--tog-bac: #c13d51;
--sochov:#ff0000;
--form : #F44336; 
--tex:black;
--tog1: #8d2a39;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--bodybac);
    background: linear-gradient(to right, var(--bodbac1), var(--bodbac2));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}
.container {
    background-color: var(--containerbac);
    border-radius: 30px;
    box-shadow: 0 5px 15px var(--contshadow);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}
.container p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}
